*{
    margin: 0;
    padding: 0;
}
.content{
    padding-top: 10px;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    background-color: #f6f6f6;
    width: 700px;
    /* height: 400px; */

}
label{
    margin: 10px 15px 0 ;
}
input.all{
    padding: 15px 15px;
    margin: 5px 10px;
}
textarea{
    margin-right: 10px;
    border:none;
    outline: none;
}
form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-template-areas:  
    "user phone"
    "password text"
    "email text"
    "supmit supmit";
    /* gap: 15px; */
}
.username{
    grid-area: user;
    display: flex;
    flex-direction: column;
    margin-right: 0;
} 
.username::before{
    content: "*";
    color: #ff0000;
    position: absolute;
    left: 84px;
}
.phone{
    grid-area: phone;
    display: flex;
    flex-direction: column;
    margin-left: 0;
}
.password{
    grid-area: password;
    display: flex;
    flex-direction: column;
}
.password::before{
    content: "*";
    color: #ff0000;
    position: absolute;
    left: 84px;
}
.text{
    grid-area: text;
    display: flex;
    flex-direction: column;
}
.email{
    grid-area: email;
    display: flex;
    flex-direction: column;
}
label.email::before{
    content: "*";
    color: #ff0000;
    position: absolute;
    left: 64px;
}
input[type="submit" i]{
    grid-area: supmit;
    display: block;
    width: calc(200% - 20px);
    margin: 15px 10px;
    padding: 15px 0;
    background-color: #009688;
    cursor: pointer;
    color: white;
}
input{
    border-radius: 3px;
    border: none;
    color: #928d8d;
    outline:none;
    font-weight: bold;
}